{% extends 'layout.html' %}
{% block content %}
<form action="{{ url_for('new_sales') }}" autocomplete="off">
    <div class="content-section">
        <div><label>Name 1</label><input id="nameOfItem" type='text' name='name1' required ></div>
        <label>Quantity 1</label><input type='text' name='quantity1' required >
        <label>Price 1</label><input type='text' name='price1' required >
        <input type="hidden" id="field" value="1" name="field">
    </div>

    <div id="form" ></div>

    <div class="row">
         <div class="col-6 text-left">
             <input type="submit" hidden='true', id='form-submit'>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="enter-modal">Enter</button>
         </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary" onclick="appendd()">Add New Entry</button>
        </div>
    </div>
</form>
<br/>
<br/>
<br/>
<br/>
<a href="{{ url_for('sales') }}"><button type="button" style="width:100px; height:30px;">Go Back</button></a>
<br/><br/>


<script>
window.num = 1
function appendd(num) {
window.num++
    var form = document.getElementById('form')
	var inp = "<div class='content-section'><label>Name "+window.num+"</label><input type='text' id='nameOfItem' name='name"+window.num+"' required ><label>Quantity "+window.num+"</label><input type='text' name='quantity"+window.num+"' required ><label>Price "+window.num+"</label><input type='text' name='price"+window.num+"' required ></div>"
	form.innerHTML += inp
	var field = document.getElementById('field')
	field.value = window.num


}

</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Sale Entry</h5>
      </div>
      <div class="modal-body">
          Are You Sure you Want To Save This Entry?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
          <button type="button" class="btn btn-success success" onclick="myFunc()" data-dismiss="modal" id="modal_confirm" onkeyup="preventModal()">Confirm</button>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='predict.js') }}"></script>

{% endblock content %}